<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Alpha Cab</display-name>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>AlphaCab</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>Alpha</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>googleAPIkey</param-name>
        <param-value>AIzaSyAYvhYO8kK6rhI0JBwt4fII8tkcLaDniPI</param-value>
    </context-param>
    <context-param>
        <param-name>googlePlaces</param-name>
        <param-value>AIzaSyC9oMI-9gTE2hKLaPMv3O8Sh4yGfu0UDeA</param-value>
    </context-param>
    <filter>
        <filter-name>LoginInRequired</filter-name>
        <filter-class>filters.LoginInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DriverCustomerFilter</filter-name>
        <filter-class>filters.DriverCustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NotLoggedInRequired</filter-name>
        <filter-class>filters.NotLoggedInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminRequired</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerRequired</filter-name>
        <filter-class>filters.CustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DriverRequired</filter-name>
        <filter-class>filters.DriverFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DriverCustomerFilter</filter-name>
        <url-pattern>/myBookings</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginInRequired</filter-name>
        <url-pattern>/account.jsp</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInRequired</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/register.jsp</url-pattern>
        <url-pattern>/Register</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminRequired</filter-name>
        <url-pattern>/ManageCustomers</url-pattern>
        <url-pattern>/ManageDrivers</url-pattern>
        <url-pattern>/EditCustomer</url-pattern>
        <url-pattern>/EditDriver</url-pattern>
        <url-pattern>/RegisterDriver</url-pattern>
        <url-pattern>/DailyReport</url-pattern>
        <url-pattern>/EditFees</url-pattern>
        <url-pattern>/DailyCustomers</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerRequired</filter-name>
        <url-pattern>/newbooking.jsp</url-pattern>
        <url-pattern>/CreateBooking</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DriverRequired</filter-name>
        <url-pattern>/driver.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <servlet-class>com.RegisterCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookingServlet</servlet-name>
        <servlet-class>com.CreateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDriversServlet</servlet-name>
        <servlet-class>com.ManageDriversServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomersServlet</servlet-name>
        <servlet-class>com.ManageCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDriver</servlet-name>
        <servlet-class>com.EditDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>com.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDriverServlet</servlet-name>
        <servlet-class>com.RegisterDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookings</servlet-name>
        <servlet-class>com.ViewBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeesServlet</servlet-name>
        <servlet-class>com.EditFeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyCustomersServlet</servlet-name>
        <servlet-class>com.DailyCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDriver</servlet-name>
        <url-pattern>/EditDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookingServlet</servlet-name>
        <url-pattern>/CreateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDriversServlet</servlet-name>
        <url-pattern>/ManageDrivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomersServlet</servlet-name>
        <url-pattern>/ManageCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDriverServlet</servlet-name>
        <url-pattern>/RegisterDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookings</servlet-name>
        <url-pattern>/myBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/DailyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeesServlet</servlet-name>
        <url-pattern>/EditFees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyCustomersServlet</servlet-name>
        <url-pattern>/DailyCustomers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
